<?xml version="1.0" encoding="UTF-8"?>
<menu>
  <menu-elem id="globalstats">
    <label>g(80901)</label>
    <url>index.php?function=ms_greenit_dashboard&amp;cat=globalstats</url>
  </menu-elem>
  <menu-elem id="individualstats">
    <label>g(80902)</label>
    <url>index.php?function=ms_greenit_dashboard&amp;cat=individualstats</url>
  </menu-elem>
</menu>
